.navbar{
  margin-top: 20px;
  line-height: 30px;
  font-size: 20px;
  a{

  }
}

.page-net-list{
  padding-top:20px;
  .action{
    a.new{
      float: right;
      display: block;
      width:160px;
      height: 36px;
      line-height: 36px;
      background-color: buttonface;
      text-align: center;
    }
    &:after {
      content:"";
      display:block;
      clear: both;
    }
  }
  .list{
    margin: 20px 40px 0 40px;
    .net{
      margin: 20px 0 20px 0;
      a{
        display: block;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        font-size: 20px;
      }
      .info{
       line-height: 15px;
        font-size: 12px; 
      }
    }
  }
}

.page-net-new, .page-net-edit{
  padding-top:75px;
  .field{
    margin-top: 6px;
    input[type=text]{
      padding: 6px;
      width: 900px;
      font-size: 16px;
      border: solid 1px;
      font-family: courier, consolas;
    }
    textarea{
      padding: 6px;
      width: 900px;
      height: 400px;
      font-size: 16px;
      border: solid 1px;
      font-family: courier, consolas;
    }
    input[type=submit]{
      width:280px;
      height: 36px;
      line-height: 36px;
    }
  }
}

.page-net-show{
  margin-top:20px;
  .action{
    a{
      float: right;
      display: block;
      width:160px;
      height: 36px;
      line-height: 36px;
      background-color: buttonface;
      text-align: center;
      margin-right: 5px;
    }
    &:after {
      content:"";
      display:block;
      clear: both;
    }
  }
  .info{
    margin-top: 20px;
    width:900px;
    line-height: 36px;
    font-family: courier, consolas;
  }
}


.page-point-new, .page-point-edit{
  padding-top:75px;
  .field{
    margin-top: 6px;
    input[type=text]{
      padding: 6px;
      width: 900px;
      font-size: 16px;
      border: solid 1px;
      font-family: courier, consolas;
    }
    textarea{
      padding: 6px;
      width: 900px;
      height: 400px;
      font-size: 16px;
      border: solid 1px;
      font-family: courier, consolas;
    }
    input[type=submit]{
      width:280px;
      height: 36px;
      line-height: 36px;
    }
  }
}

.page-point-show{
  margin-top:20px;
  .action{
    a{
      float: right;
      display: block;
      width:160px;
      height: 36px;
      line-height: 36px;
      background-color: buttonface;
      text-align: center;
      margin-right: 5px;
    }
    &:after {
      content:"";
      display:block;
      clear: both;
    }
  }
  .info{
    margin-top: 20px;
    width:900px;
    line-height: 36px;
    font-family: courier, consolas;
  }
}
