.navbar
  %a{:href=>"/"}首页
  >
  %a{:href=>"/nets/#{@net.id}"}= @net.name
.page-net-edit
  %form{:action => "/nets/#{@net.id}", :method => "post"}
    .field
      %input{:type => "text", :name => "name", :placeholder => "名称", :value => @net.name}
    .field
      %textarea{:name => "desc", :placeholder => "描述"}=@net.desc
    .field
      %input{:type => "submit", :value => "修改", :class => "button"}
      %a{:href=>"/nets/#{@net.id}"}取消