.navbar
  %a{:href=>"/"}首页
  >
  %a{:href=>"/nets/#{@net.id}"}= @net.name
.page-point-new
  %form{:action => "/nets/#{@net.id}/points", :method => "post"}
    .field
      %input{:type => "text", :name => "name", :placeholder => "名称"}
    .field
      %textarea{:name => "desc", :placeholder => "描述"}
    .field
      %label.checkboxs 前置
      %input{:type => "hidden", :name => "parent_ids[]", :value => ""}
      - @net.points.each do |point|
        %label.checkbox
          %input{:type => "checkbox", :name => "parent_ids[]", :value => point.id}
          = point.name
    .field
      %input{:type => "submit", :value => "创建", :class => "button"}
      %a{:href=>"/nets/#{@net.id}"}取消